* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body {
  overflow-x: hidden;
}
body nav {
  background-color: white;
  position: sticky;
  top: 0px;
}
body nav ul {
  display: flex;
  justify-content: flex-end;
}
body nav ul li {
  list-style-type: none;
  margin: 1rem;
}
body nav ul li a {
  text-decoration: none;
  color: black;
  transition: all 0.1s ease;
}
body nav ul li a:hover {
  color: rgb(76, 205, 196);
}
body main section.main-area {
  min-height: 70vh;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
body main section.main-area div.info {
  flex-basis: 450px;
  margin-right: 2rem;
  padding: 1rem;
}
body main section.main-area div.info h1 {
  font-size: 3.5rem;
}
body main section.main-area div.info h2 {
  font-size: 1rem;
}
body main section.main-area div.info a {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  background-color: rgb(76, 205, 196);
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
  border-radius: 20px;
  margin-top: 1.5rem;
  transition: all 0.2s ease;
}
body main section.main-area div.info a:hover {
  transform: scale(1.2);
  background-color: white;
  color: rgb(76, 205, 196);
  border: 2px solid rgb(76, 205, 196);
}
body main section.main-area div.img-area {
  flex-basis: 400px;
}
body main section.main-area div.img-area img {
  width: 100%;
}
body main section.about-me {
  background-color: rgba(76, 205, 196, 0.2);
  padding: 5rem 0rem;
  display: flex;
  justify-content: center;
}
body main section.about-me section.description {
  width: 50%;
  text-align: center;
}
body main section.about-me section.description h2 {
  scroll-margin-top: 100px;
  font-size: 2rem;
}
body main section.about-me section.description .progress-bar-area p {
  font-weight: bold;
  margin-top: 1rem;
}
body main section.resume {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  align-items: center;
}
body main section.resume section.table {
  flex: 7 1 500px;
  padding: 2rem;
  border-collapse: collapse;
  margin-right: 2rem;
}
body main section.resume section.table table {
  --bs-table-bg: none;
}
body main section.resume section.table table tr {
  border-bottom: 2px solid grey;
  transition: all 0.2s ease;
}
body main section.resume section.table table tr td {
  padding: 0.5rem;
}
body main section.resume section.table table tr:hover {
  background-color: rgba(76, 205, 196, 0.3);
}
body main section.resume section.picture {
  position: relative;
  flex: 1 1 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main section.resume section.picture img {
  width: 80%;
}
body main section.resume section.picture div.greenRect1 {
  position: absolute;
  width: 30vw;
  height: 40vh;
  border: 10px solid rgba(76, 205, 196, 0.3);
  top: -50px;
  left: 80px;
  z-index: -1;
}
body main section.resume section.picture div.greenRect2 {
  position: absolute;
  width: 60vw;
  height: 30vh;
  border: 10px solid rgba(76, 205, 196, 0.3);
  top: 100px;
  left: -150px;
  z-index: -1;
}
body main section.resume section.picture div.greenRect3 {
  position: absolute;
  width: 20vw;
  height: 31vh;
  border: 10px solid rgba(76, 205, 196, 0.3);
  top: 10px;
  left: -20px;
  z-index: -1;
}

@media screen and (max-width: 800px) {
  body main section.about-me section.description {
    width: 80%;
  }
}/*# sourceMappingURL=style.css.map */